.wrapper {
    width: 90%;
    margin: auto;
}
*{
    margin: 0;
    padding: 0;
}
.box {
    width: 100%;
    height: 300px;
    background-color: maroon;

}

.box1 {
    width: 100%;
    height: 200px;
    background-color: blueviolet;
    margin-top: 60px;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;
}
.sub-box {
height: 75%;
width: 22.5%;
background-color: beige;

}

.box-2 {
    height: 300px;
    /* width: 40%; */
    background-color: rgba(0, 0, 255, 0.316);

}

.box-3 {
    height: 300px ;
    /* width: 40%; */
    background-color: rgb(222, 184, 135) ;
    /* position: relative; */
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
}

.ball {
    height: 150px;
    width: 150px;
    background-color: black;
    border-radius: 700px;
    /* position: absolute; */
/* top: 50%; */
/* left: 50%; */
/* transform: translate(-50%, -50%); */
margin: -80px 0px 0px 70px;
}

.ball img {
    max-width: 100%;
    width: 150px;
    height: 150px;
    border-radius: 700px;
    object-fit:cover ;

}


.parent {
    /* display: flex; */
    margin-top: 10%;
    margin-bottom: 5%;
    justify-content:space-between ;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}


.box-4 {
height: 300px;
background-color: rgba(255, 255, 0, 0.406);
}

.box-5 {
height: 300px;
background-color: rgba(0, 0, 255, 0.166);
}






